{% extends 'base.html.twig' %}

{% block title %}Coopaines - covoiturage
{% endblock %}

{% block actions %}
{% include 'fragments/covoit-menu.html.twig' %}
{% endblock actions %}

{%
block panel__main %}
	{# Main top #}
	<div class="bg-bluesky-950 sticky top-0 pt-4 z-10">
		<div class="flex justify-between border border-bluesky-900 p-4 rounded-t-md">
			<div class="flex gap-2 items-center">
				<div>←</div>
				<a href="{{ path('app_app') }}" class="block">retour à l'accueil</a>
			</div>
		</div>
	</div>

	{# Main content #}
	<div class="border-x border-bluesky-900">
		{% for i in 0..20 %}
			{# Evenement #}
			<twig:FeedPost type="1" hasMeta="{{ false }}"></twig:FeedPost>
		{% endfor %}
	</div>

{% endblock %}

{% block panel__two %}
{% include 'fragments/covoit-search.html.twig' %}
{% endblock %}
