{% extends 'base.html.twig' %}

{% block title %}Coopaines
{% endblock %}

{% block actions %}
	{% include 'fragments/covoit-menu.html.twig' %}
{% endblock actions %}

{% block panel__main %}

	{# Main top #}
	<div class="bg-bluesky-950 sticky top-0 pt-4 z-10">
		<div class="flex justify-between border border-bluesky-900 p-4 rounded-t-md">
			<div class="flex gap-2">
				<div>←</div>
				<a href="{{ path('app_covoiturages') }}">retour</a>
			</div>
		</div>
	</div>

	{# Main content #}
	<div class="border border-t-0 border-bluesky-900 pb-6 rounded-b-md">

		<div class="p-6 border-b border-b-bluesky-800 bg-bluesky-950">

			<div
				class="flex gap-6">
				{# Date #}
				<div class="flex flex-col gap-4">
					<twig:BlocDate></twig:BlocDate>
					<twig:BlocTime></twig:BlocTime>
				</div>

				{# Trajet #}
				<div class="flex flex-col gap-2">
					<div class="inline-flex items-center gap-2 text-xs tracking-widest border border-bluesky-900 px-2 py-1 rounded-md bg-green-900 w-max max-w-fit">
						<twig:ux:icon name="mingcute:seat-fill" class="h-4"/>
						<div>3 places</div>
					</div>
					<div class="flex flex-col gap-1 text-2xl font-bold">
						<div>Morogues</div>
						<div>↓</div>
						<div>Les Aix d'Angillon</div>
					</div>
				</div>
			</div>

		</div>

		<div class="flex flex-col gap-6 p-6">
			<div class="flex justify-start gap-2">
				{# "Share" button #}

				{# "Ca m'intéresse" button #}
					<button class=" flex gap-2 btn btn-success">
						<twig:ux:icon name="icon-park-outline:write" class="h-4" />
						<div>Contacter le conducteur</div>
					</button>

			</div>

			{# Informations #}
			<div class="border border-bluesky-900 rounded-md text-bluesky-400 text-sm">
				<div class="flex flex-col gap-2 p-3 px-3 border-b border-b-bluesky-800">
					<div>Partage les frais du trajet</div>
				</div>
				<div class="flex flex-col gap-2 p-3 px-3 border-b border-b-bluesky-800">
					<div>Non fumeur</div>
				</div>
				<div class="flex flex-col gap-2 p-3 px-3 border-b border-b-bluesky-800">
					<div>Accepte les animaux</div>
				</div>
				<div class="flex flex-col gap-2 p-3 px-3">
					<div>Petits bagages</div>
				</div>
			</div>

			<div class="flex flex-col gap-2 text-bluesky-400">
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis reiciendis quo asperiores dignissimos nostrum nisi similique quam magnam, molestias est fuga facere, animi adipisci sequi fugiat, iusto hic pariatur.</p>
			</div>
		</div>

	</div>


{% endblock %}

{% block panel__two %}
	{% include 'fragments/covoit-search.html.twig' %}
{% endblock %}
