<a href="#" class="flex"><button class="flex btn btn-primary w-full gap-2"><twig:ux:icon name="ic:baseline-add" class="h-5" /> <span>Proposer un trajet</span></button></a>
{# <a href="#"><button class="btn btn-info flex gap-2 w-full"><twig:ux:icon name="subway:mark-2" class="h-5" /><span>Mes événements</span></button></a> #}
<div class="flex flex-col gap-4 mt-8">
	<div class="flex flex-col gap-4">

		</div>
	{# <a href="#" class="flex gap-3"><twig:ux:icon name="subway:mark-2" class="h-5" /><span>Mes événements</span></a>
	<a href="#" class="flex gap-3"><twig:ux:icon name="material-symbols:star-rounded" class="h-6" /><span>Les événements qui m'intéressent</span></a> #}
</div>