<div {{ attributes }} class="flex flex-col items-center px-5 py-2 bg-bluesky-900 group-hover:bg-bluesky-700 rounded-md aspect-square">
    <div class="text-sm tracking-wider">mardi</div>
    <div class="text-4xl font-bold">18</div>
    <div class="text-sm uppercase tracking-wider">mars</div>
</div>