<div{{ attributes }}>
    <div class="flex flex-col gap-4 p-4">
        <div class="flex text-sm uppercase tracking-wider font-bold justify-between">
            <twig:ux:icon name="mingcute:left-line" class="h-5 opacity-70 hover:opacity-100 hover:cursor-pointer"/>
            <div>MARS</div>
            <twig:ux:icon name="mingcute:right-line" class="h-5 opacity-70 hover:opacity-100 hover:cursor-pointer"/>
        </div>

        <table class="border-separate border-spacing-0 overflow-hidden border border-gray-800 rounded-md">
            <tr class="">
                <th class="text-center align-middle text-sm py-2">L</th>
                <th class="text-center align-middle text-sm py-2 border-x border-x-gray-800">M</th>
                <th class="text-center align-middle text-sm py-2">M</th>
                <th class="text-center align-middle text-sm py-2 border-x border-x-gray-800">J</th>
                <th class="text-center align-middle text-sm py-2">V</th>
                <th class="text-center align-middle text-sm py-2 border-x border-x-gray-800">S</th>
                <th class="text-center align-middle text-sm py-2">D</th>
            </tr>
            <tr class="border-y border-y-gray-800">
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800"></td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800"></td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800">1</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800">2</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800">3</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800 bg-gray-500">4</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800">5</td>
            </tr>
            <tr class="">
                <td class="text-center align-middle text-xs py-2">6</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800">7</td>
                <td class="text-center align-middle text-xs py-2">8</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800">9</td>
                <td class="text-center align-middle text-xs py-2">10</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800">11</td>
                <td class="text-center align-middle text-xs py-2">12</td>
            </tr>
            <tr class="">
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800">13</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800">14</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 bg-gray-400 text-gray-950">15</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800">16</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 bg-gray-700">17</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800 border-x border-x-gray-800 bg-red-700">18</td>
                <td class="text-center align-middle text-xs py-2 border-y border-gray-800">19</td>
            </tr>
            <tr class="">
                <td class="text-center align-middle text-xs py-2">20</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800">21</td>
                <td class="text-center align-middle text-xs py-2">22</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800">23</td>
                <td class="text-center align-middle text-xs py-2">24</td>
                <td class="text-center align-middle text-xs py-2 border-x border-x-gray-800 bg-gray-800">25</td>
                <td class="text-center align-middle text-xs py-2">26</td>
            </tr>
            <tr class="">
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800">27</td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800 border-x border-x-gray-800">28</td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800">29</td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800 border-x border-x-gray-800">30</td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800"></td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800 border-x border-x-gray-800"></td>
                <td class="text-center align-middle text-xs py-2 border-t border-gray-800"></td>
            </tr>
        </table>

        {# <ul class="flex flex-col gap-2">
                                                  <li class="text-gray-400 hover:text-white">Janvier</li>
                                                  <li class="text-gray-400 hover:text-white">Février</li>
                                                  <li class="text-gray-400 hover:text-white">Mars</li>
                                                  <li class="text-gray-400 hover:text-white">Avril</li>
                                                  <li class="text-gray-400 hover:text-white">Mai</li>
                                                  <li class="text-gray-400 hover:text-white">Juin</li>
                                                  <li class="text-gray-400 hover:text-white">Juillet</li>
                                                  <li class="text-gray-400 hover:text-white">Aout</li>
                                                </ul> #}
    </div>
</div>
