{# EVENT POST TYPE #}

<a
	{{ attributes }} href="{{ path('app_evenement') }}" class="flex gap-6">
	{# Date #}
	<div class="flex flex-col gap-4">
		<twig:BlocDate></twig:BlocDate>
		<twig:BlocTime></twig:BlocTime>
	</div>

	<div
		class="flex flex-col gap-4">

		{# Title #}
		<div class="text-2xl font-bold">Manifestation contre le projet Lyon-Turin</div>

		{# Catgory #}
		<div class="flex">
			<div class="text-xs tracking-widest border border-bluesky-900 px-2 py-1 rounded-md bg-green-900">#Mobilisation</div>
		</div>

		{# Informations #}
		<div class="flex flex-col gap-2 text-bluesky-400 text-sm">
			<div class="flex gap-1 items-center">
				<twig:ux:icon name="mdi:location" class="h-5"/>
				<div class="">Bourges / l'Antidote, café militant, 88 rue d'Auron</div>
			</div>
			<div
				class="flex gap-1 items-center">
				{# <twig:ux:icon name="solar:euro-bold" class="h-4"/> #}
				<twig:ux:icon name="material-symbols:euro" class="h-5"/>
				<div>Normal : 14€ / Réduit : 8€ / Moins de 6 ans : gratuit</div>
			</div>
		</div>


		{# <div class="text-bluesky-400">
											Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis reiciendis quo asperiores dignissimos nostrum nisi similique quam magnam, molestias est fuga facere, animi adipisci sequi fugiat, iusto hic pariatur.
										</div> #}
	</div>
</a>
