<div{{attributes}} class="p-4 border-b border-b-gray-800 bg-gray-900 hover:bg-gray-800">
	{# Post intro #}
	<div class="text-sm text-gray-500 mb-4">Bidule a partagé un nouveau covoit</div>

	{# Post content #}
	<div class="p-4 rounded-md">
        Coucou c'est trop bien :D<br />
        Bla bli blou
    </div>

    {# Post footer #}
</div>
