<div{{ attributes }}>
    <!-- component html -->
    <a href="{{ link }}" class="flex gap-3 text-gray-400 hover:text-white"><twig:ux:icon name="{{ icon }}" class="w-5" /> <span>{{ title }}</span></a>
</div>
