<div{{ attributes }}>
    <!-- component html -->
    <a href="{{ link }}" class="flex gap-3 text-bluesky-300 hover:text-white"><twig:ux:icon name="{{ icon }}" class="h-5" /> <span>{{ title }}</span></a>
</div>
